<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.cpx.dao.FeeMapper" >
  <resultMap id="BaseResultMap" type="com.project.cpx.entity.FeeEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="operate_date" property="operateDate" jdbcType="VARCHAR" />
    <result column="operate_thing" property="operateThing" jdbcType="VARCHAR" />
    <result column="pay_amount" property="payAmount"/>
    <result column="beneficiary" property="beneficiary" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="fee_type" property="feeType" jdbcType="VARCHAR" />
    <result column="belong" property="belong" jdbcType="VARCHAR" />
    <result column="payer" property="payer" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="row_status" property="rowStatus" jdbcType="TINYINT" />
    <result column="row_version" property="rowVersion"/>
  </resultMap>

  <resultMap id="operateThingResult" type="java.lang.String" >
    <result column="operate_thing" property="operateThing" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="beneficiaryResult" type="java.lang.String" >
    <result column="beneficiary" property="beneficiary" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="payerResult" type="java.lang.String" >
    <result column="payer" property="payer" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, operate_date, operate_thing, pay_amount, beneficiary, pay_type, fee_type, belong, 
    payer, remark, gmt_create, gmt_modify, row_status, row_version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update fee set row_status=-1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.project.cpx.entity.FeeEntity" >
    insert into fee (id, operate_date, operate_thing, 
      pay_amount, beneficiary, pay_type, 
      fee_type, belong, payer, 
      remark, gmt_create, gmt_modify, 
      row_status, row_version)
    values (#{id,jdbcType=INTEGER}, #{operateDate,jdbcType=VARCHAR}, #{operateThing,jdbcType=VARCHAR}, 
      #{payAmount}, #{beneficiary,jdbcType=VARCHAR}, #{payType,jdbcType=VARCHAR},
      #{feeType,jdbcType=VARCHAR}, #{belong,jdbcType=VARCHAR}, #{payer,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{rowStatus,jdbcType=TINYINT}, #{rowVersion})
  </insert>
  <insert id="insertSelective" parameterType="com.project.cpx.entity.FeeEntity" >
    insert into fee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operateDate != null" >
        operate_date,
      </if>
      <if test="operateThing != null" >
        operate_thing,
      </if>
      <if test="payAmount != null" >
        pay_amount,
      </if>
      <if test="beneficiary != null" >
        beneficiary,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="feeType != null" >
        fee_type,
      </if>
      <if test="belong != null" >
        belong,
      </if>
      <if test="payer != null" >
        payer,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
      <if test="rowStatus != null" >
        row_status,
      </if>
      <if test="rowVersion != null" >
        row_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="operateDate != null" >
        #{operateDate,jdbcType=VARCHAR},
      </if>
      <if test="operateThing != null" >
        #{operateThing,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null" >
        #{payAmount},
      </if>
      <if test="beneficiary != null" >
        #{beneficiary,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="feeType != null" >
        #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="belong != null" >
        #{belong,jdbcType=VARCHAR},
      </if>
      <if test="payer != null" >
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="rowStatus != null" >
        #{rowStatus,jdbcType=TINYINT},
      </if>
      <if test="rowVersion != null" >
        #{rowVersion},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.cpx.entity.FeeEntity" >
    update fee
    <set >
      <if test="operateDate != null" >
        operate_date = #{operateDate,jdbcType=VARCHAR},
      </if>
      <if test="operateThing != null" >
        operate_thing = #{operateThing,jdbcType=VARCHAR},
      </if>
      <if test="payAmount != null" >
        pay_amount = #{payAmount},
      </if>
      <if test="beneficiary != null" >
        beneficiary = #{beneficiary,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="feeType != null" >
        fee_type = #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="belong != null" >
        belong = #{belong,jdbcType=VARCHAR},
      </if>
      <if test="payer != null" >
        payer = #{payer,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="rowStatus != null" >
        row_status = #{rowStatus,jdbcType=TINYINT},
      </if>
      <if test="rowVersion != null" >
        row_version = #{rowVersion},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.cpx.entity.FeeEntity" >
    update fee
    set operate_date = #{operateDate,jdbcType=VARCHAR},
      operate_thing = #{operateThing,jdbcType=VARCHAR},
      pay_amount = #{payAmount},
      beneficiary = #{beneficiary,jdbcType=VARCHAR},
      pay_type = #{payType,jdbcType=VARCHAR},
      fee_type = #{feeType,jdbcType=VARCHAR},
      belong = #{belong,jdbcType=VARCHAR},
      payer = #{payer,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      row_status = #{rowStatus,jdbcType=TINYINT},
      row_version = #{rowVersion}
    where id = #{id}
  </update>

  <select id="query" resultMap="BaseResultMap" parameterType="com.project.cpx.entity.query.FeeQuery">
    select <include refid="Base_Column_List" />
    from fee
    where row_status =0
    <if test="start != null" >
      and operate_date &gt;= #{start}
    </if>
    <if test="end != null" >
      and operate_date &lt;= #{end}
    </if>
    <if test="operateDate != null" >
      and operate_date = #{operateDate}
    </if>
    <if test="operateThing != null" >
      and operate_thing like CONCAT(#{operateThing},'%')
    </if>
    <if test="beneficiary != null" >
      and beneficiary like CONCAT(#{beneficiary},'%')
    </if>
    <if test="payType != null" >
      and pay_type = #{payType}
    </if>
    <if test="feeType != null" >
      and fee_type = #{feeType}
    </if>
    <if test="belong != null" >
      and belong = #{belong}
    </if>
    <if test="payer != null" >
      and payer like CONCAT(#{payer},'%')
    </if>
    <if test="column == null and (sort == null)">
      order by id DESC
    </if>
    <if test="column != null and (sort == 'ASC' or sort == 'DESC')">
      order by #{column} #{sort}
    </if>
    <if test="pageSize != null and offset != null ">
      limit #{offset},#{pageSize}
    </if>
  </select>

  <select id="queryCount" resultType="java.lang.Integer" parameterType="com.project.cpx.entity.query.FeeQuery">
    select count(1)
    from fee
    where row_status =0
    <if test="start != null" >
      and operate_date &gt;= #{start}
    </if>
    <if test="end != null" >
      and operate_date &lt;= #{end}
    </if>
    <if test="operateDate != null" >
      and operate_date = #{operateDate}
    </if>
    <if test="operateThing != null" >
      and operate_thing like CONCAT(#{operateThing},'%')
    </if>
    <if test="beneficiary != null" >
      and beneficiary like CONCAT(#{beneficiary},'%')
    </if>
    <if test="payType != null" >
      and pay_type = #{payType}
    </if>
    <if test="feeType != null" >
      and fee_type = #{feeType}
    </if>
    <if test="belong != null" >
      and belong = #{belong}
    </if>
    <if test="payer != null" >
      and payer like CONCAT(#{payer},'%')
    </if>
  </select>

  <select id="queryByOperateThing" resultMap="operateThingResult" parameterType="com.project.cpx.entity.query.FeeQuery">
    select distinct(operate_thing)
    from fee
    where row_status =0
    <if test="operateThing != null" >
      and operate_thing like CONCAT(#{operateThing},'%')
    </if>
    <if test="pageSize != null and offset != null ">
      limit #{offset},#{pageSize}
    </if>
  </select>

  <select id="queryByBeneficiary" resultMap="beneficiaryResult" parameterType="com.project.cpx.entity.query.FeeQuery">
    select distinct(beneficiary)
    from fee
    where row_status =0
    <if test="beneficiary != null" >
      and beneficiary like CONCAT(#{beneficiary},'%')
    </if>
    <if test="pageSize != null and offset != null ">
      limit #{offset},#{pageSize}
    </if>
  </select>

  <select id="queryByPayer" resultMap="payerResult" parameterType="com.project.cpx.entity.query.FeeQuery">
    select distinct(payer)
    from fee
    where row_status =0
    <if test="beneficiary != null" >
      and payer like CONCAT(#{payer},'%')
    </if>
    <if test="pageSize != null and offset != null ">
      limit #{offset},#{pageSize}
    </if>
  </select>

</mapper>