<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.cpx.dao.OperationMapper" >
  <resultMap id="BaseResultMap" type="com.project.cpx.entity.OperationEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="operate_date" property="operateDate" jdbcType="VARCHAR" />
    <result column="product_category" property="productCategory" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="belong" property="belong" jdbcType="VARCHAR" />
    <result column="sale_price" property="salePrice" />
    <result column="sale_num" property="saleNum" jdbcType="INTEGER" />
    <result column="sale_total_price" property="saleTotalPrice"/>
    <result column="rebate_num" property="rebateNum" jdbcType="INTEGER" />
    <result column="un_rebate_num" property="unRebateNum" jdbcType="INTEGER" />
    <result column="actual_price" property="actualPrice" />
    <result column="price" property="price"/>
    <result column="construct_price" property="constructPrice" />
    <result column="construct_preson" property="constructPreson" jdbcType="VARCHAR" />
    <result column="sales_commission" property="salesCommission" jdbcType="INTEGER" />
    <result column="sales_rate" property="salesRate" jdbcType="INTEGER" />
    <result column="sales" property="sales" jdbcType="VARCHAR" />
    <result column="collection_type" property="collectionType" jdbcType="VARCHAR" />
    <result column="partner_company_name" property="partnerCompanyName" jdbcType="VARCHAR" />
    <result column="partner_sales" property="partnerSales" jdbcType="VARCHAR" />
    <result column="car_type" property="carType" jdbcType="VARCHAR" />
    <result column="car_frame" property="carFrame" jdbcType="VARCHAR" />
    <result column="car_no" property="carNo" jdbcType="VARCHAR" />
    <result column="car_owner" property="carOwner" jdbcType="VARCHAR" />
    <result column="car_owner_phone" property="carOwnerPhone" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="row_status" property="rowStatus" jdbcType="TINYINT" />
    <result column="row_version" property="rowVersion" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="ProfitResultMap" type="com.project.cpx.entity.dto.ProfitDTO" >
    <result column="operate_date" property="operateDate" jdbcType="VARCHAR" />
    <result column="income" property="income" />
    <result column="grossProfit" property="grossProfit" />
    <result column="incomePerOrder" property="incomePerOrder" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, operate_date, product_category, product_name, belong, sale_price, sale_num, sale_total_price, 
    rebate_num, un_rebate_num, actual_price, price, construct_price, construct_preson, 
    sales_commission, sales_rate, sales, collection_type, partner_company_name, partner_sales, 
    car_type, car_frame, car_no, car_owner, car_owner_phone, remark, gmt_create, gmt_modify, 
    row_status, row_version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from operation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update operation set row_status=-1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.project.cpx.entity.OperationEntity" >
    insert into operation (id, operate_date, product_category, 
      product_name, belong, sale_price, 
      sale_num, sale_total_price, rebate_num, 
      un_rebate_num, actual_price, price, 
      construct_price, construct_preson, sales_commission, 
      sales_rate, sales, collection_type, 
      partner_company_name, partner_sales, car_type, 
      car_frame, car_no, car_owner, 
      car_owner_phone, remark, gmt_create, 
      gmt_modify, row_status, row_version
      )
    values (#{id,jdbcType=INTEGER}, #{operateDate,jdbcType=VARCHAR}, #{productCategory,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{belong,jdbcType=VARCHAR}, #{salePrice,jdbcType=INTEGER}, 
      #{saleNum,jdbcType=INTEGER}, #{saleTotalPrice,jdbcType=INTEGER}, #{rebateNum,jdbcType=INTEGER}, 
      #{unRebateNum,jdbcType=INTEGER}, #{actualPrice,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, 
      #{constructPrice,jdbcType=INTEGER}, #{constructPreson,jdbcType=VARCHAR}, #{salesCommission,jdbcType=INTEGER}, 
      #{salesRate,jdbcType=INTEGER}, #{sales,jdbcType=VARCHAR}, #{collectionType,jdbcType=VARCHAR}, 
      #{partnerCompanyName,jdbcType=VARCHAR}, #{partnerSales,jdbcType=VARCHAR}, #{carType,jdbcType=VARCHAR}, 
      #{carFrame,jdbcType=VARCHAR}, #{carNo,jdbcType=VARCHAR}, #{carOwner,jdbcType=VARCHAR}, 
      #{carOwnerPhone,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP}, #{rowStatus,jdbcType=TINYINT}, #{rowVersion,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.project.cpx.entity.OperationEntity" >
    insert into operation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operateDate != null" >
        operate_date,
      </if>
      <if test="productCategory != null" >
        product_category,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="belong != null" >
        belong,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="saleNum != null" >
        sale_num,
      </if>
      <if test="saleTotalPrice != null" >
        sale_total_price,
      </if>
      <if test="rebateNum != null" >
        rebate_num,
      </if>
      <if test="unRebateNum != null" >
        un_rebate_num,
      </if>
      <if test="actualPrice != null" >
        actual_price,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="constructPrice != null" >
        construct_price,
      </if>
      <if test="constructPreson != null" >
        construct_preson,
      </if>
      <if test="salesCommission != null" >
        sales_commission,
      </if>
      <if test="salesRate != null" >
        sales_rate,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="collectionType != null" >
        collection_type,
      </if>
      <if test="partnerCompanyName != null" >
        partner_company_name,
      </if>
      <if test="partnerSales != null" >
        partner_sales,
      </if>
      <if test="carType != null" >
        car_type,
      </if>
      <if test="carFrame != null" >
        car_frame,
      </if>
      <if test="carNo != null" >
        car_no,
      </if>
      <if test="carOwner != null" >
        car_owner,
      </if>
      <if test="carOwnerPhone != null" >
        car_owner_phone,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
      <if test="rowStatus != null" >
        row_status,
      </if>
      <if test="rowVersion != null" >
        row_version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operateDate != null" >
        #{operateDate,jdbcType=VARCHAR},
      </if>
      <if test="productCategory != null" >
        #{productCategory,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="belong != null" >
        #{belong,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null" >
        #{salePrice},
      </if>
      <if test="saleNum != null" >
        #{saleNum},
      </if>
      <if test="saleTotalPrice != null" >
        #{saleTotalPrice},
      </if>
      <if test="rebateNum != null" >
        #{rebateNum},
      </if>
      <if test="unRebateNum != null" >
        #{unRebateNum},
      </if>
      <if test="actualPrice != null" >
        #{actualPrice},
      </if>
      <if test="price != null" >
        #{price},
      </if>
      <if test="constructPrice != null" >
        #{constructPrice},
      </if>
      <if test="constructPreson != null" >
        #{constructPreson,jdbcType=VARCHAR},
      </if>
      <if test="salesCommission != null" >
        #{salesCommission},
      </if>
      <if test="salesRate != null" >
        #{salesRate},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=VARCHAR},
      </if>
      <if test="collectionType != null" >
        #{collectionType,jdbcType=VARCHAR},
      </if>
      <if test="partnerCompanyName != null" >
        #{partnerCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="partnerSales != null" >
        #{partnerSales,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carFrame != null" >
        #{carFrame,jdbcType=VARCHAR},
      </if>
      <if test="carNo != null" >
        #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carOwner != null" >
        #{carOwner,jdbcType=VARCHAR},
      </if>
      <if test="carOwnerPhone != null" >
        #{carOwnerPhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="rowStatus != null" >
        #{rowStatus,jdbcType=TINYINT},
      </if>
      <if test="rowVersion != null" >
        #{rowVersion},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.cpx.entity.OperationEntity" >
    update operation
    <set >
      <if test="operateDate != null" >
        operate_date = #{operateDate,jdbcType=VARCHAR},
      </if>
      <if test="productCategory != null" >
        product_category = #{productCategory,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="belong != null" >
        belong = #{belong,jdbcType=VARCHAR},
      </if>
      <if test="salePrice != null" >
        sale_price = #{salePrice},
      </if>
      <if test="saleNum != null" >
        sale_num = #{saleNum},
      </if>
      <if test="saleTotalPrice != null" >
        sale_total_price = #{saleTotalPrice},
      </if>
      <if test="rebateNum != null" >
        rebate_num = #{rebateNum},
      </if>
      <if test="unRebateNum != null" >
        un_rebate_num = #{unRebateNum},
      </if>
      <if test="actualPrice != null" >
        actual_price = #{actualPrice},
      </if>
      <if test="price != null" >
        price = #{price},
      </if>
      <if test="constructPrice != null" >
        construct_price = #{constructPrice},
      </if>
      <if test="constructPreson != null" >
        construct_preson = #{constructPreson,jdbcType=VARCHAR},
      </if>
      <if test="salesCommission != null" >
        sales_commission = #{salesCommission},
      </if>
      <if test="salesRate != null" >
        sales_rate = #{salesRate},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=VARCHAR},
      </if>
      <if test="collectionType != null" >
        collection_type = #{collectionType,jdbcType=VARCHAR},
      </if>
      <if test="partnerCompanyName != null" >
        partner_company_name = #{partnerCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="partnerSales != null" >
        partner_sales = #{partnerSales,jdbcType=VARCHAR},
      </if>
      <if test="carType != null" >
        car_type = #{carType,jdbcType=VARCHAR},
      </if>
      <if test="carFrame != null" >
        car_frame = #{carFrame,jdbcType=VARCHAR},
      </if>
      <if test="carNo != null" >
        car_no = #{carNo,jdbcType=VARCHAR},
      </if>
      <if test="carOwner != null" >
        car_owner = #{carOwner,jdbcType=VARCHAR},
      </if>
      <if test="carOwnerPhone != null" >
        car_owner_phone = #{carOwnerPhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="rowStatus != null" >
        row_status = #{rowStatus,jdbcType=TINYINT},
      </if>
      <if test="rowVersion != null" >
        row_version = #{rowVersion},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.cpx.entity.OperationEntity" >
    update operation
    set operate_date = #{operateDate,jdbcType=VARCHAR},
      product_category = #{productCategory,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      belong = #{belong,jdbcType=VARCHAR},
      sale_price = #{salePrice},
      sale_num = #{saleNum},
      sale_total_price = #{saleTotalPrice},
      rebate_num = #{rebateNum},
      un_rebate_num = #{unRebateNum},
      actual_price = #{actualPrice},
      price = #{price},
      construct_price = #{constructPrice},
      construct_preson = #{constructPreson,jdbcType=VARCHAR},
      sales_commission = #{salesCommission},
      sales_rate = #{salesRate},
      sales = #{sales,jdbcType=VARCHAR},
      collection_type = #{collectionType,jdbcType=VARCHAR},
      partner_company_name = #{partnerCompanyName,jdbcType=VARCHAR},
      partner_sales = #{partnerSales,jdbcType=VARCHAR},
      car_type = #{carType,jdbcType=VARCHAR},
      car_frame = #{carFrame,jdbcType=VARCHAR},
      car_no = #{carNo,jdbcType=VARCHAR},
      car_owner = #{carOwner,jdbcType=VARCHAR},
      car_owner_phone = #{carOwnerPhone,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      row_status = #{rowStatus,jdbcType=TINYINT},
      row_version = #{rowVersion}
    where id = #{id}
  </update>

  <select id="query" resultMap="BaseResultMap" parameterType="com.project.cpx.entity.query.OperationQuery">
    select <include refid="Base_Column_List" />
    from operation
    where row_status =0
    <if test="start != null" >
      and operate_date &gt;= #{start}
    </if>
    <if test="end != null" >
      and operate_date &lt;= #{end}
    </if>
    <if test="operateDate != null" >
      and operate_date = #{operateDate,jdbcType=VARCHAR}
    </if>
    <if test="productCategory != null" >
      and product_category = #{productCategory,jdbcType=VARCHAR}
    </if>
    <if test="productName != null" >
      and product_name = #{productName,jdbcType=VARCHAR}
    </if>
    <if test="belong != null" >
      and belong = #{belong,jdbcType=VARCHAR}
    </if>
    <if test="salePrice != null" >
      and sale_price = #{salePrice}
    </if>
    <if test="saleNum != null" >
      and sale_num = #{saleNum}
    </if>
    <if test="saleTotalPrice != null" >
      and sale_total_price = #{saleTotalPrice}
    </if>
    <if test="rebateNum != null" >
      and rebate_num = #{rebateNum}
    </if>
    <if test="unRebateNum != null" >
      and un_rebate_num = #{unRebateNum}
    </if>
    <if test="actualPrice != null" >
      and actual_price = #{actualPrice}
    </if>
    <if test="price != null" >
      and price = #{price}
    </if>
    <if test="constructPrice != null" >
      and construct_price = #{constructPrice}
    </if>
    <if test="constructPreson != null" >
      and construct_preson = #{constructPreson,jdbcType=VARCHAR}
    </if>
    <if test="salesCommission != null" >
      and sales_commission = #{salesCommission}
    </if>
    <if test="salesRate != null" >
      and sales_rate = #{salesRate}
    </if>
    <if test="sales != null" >
      and sales = #{sales,jdbcType=VARCHAR}
    </if>
    <if test="collectionType != null" >
      and collection_type = #{collectionType,jdbcType=VARCHAR}
    </if>
    <if test="partnerCompanyName != null" >
      and partner_company_name = #{partnerCompanyName,jdbcType=VARCHAR}
    </if>
    <if test="partnerSales != null" >
      and partner_sales = #{partnerSales,jdbcType=VARCHAR}
    </if>
    <if test="carType != null" >
      and car_type = #{carType,jdbcType=VARCHAR}
    </if>
    <if test="carFrame != null" >
      and car_frame = #{carFrame,jdbcType=VARCHAR}
    </if>
    <if test="carNo != null" >
      and car_no = #{carNo,jdbcType=VARCHAR}
    </if>
    <if test="carOwner != null" >
      and car_owner = #{carOwner,jdbcType=VARCHAR}
    </if>
    <if test="carOwnerPhone != null" >
      and car_owner_phone = #{carOwnerPhone,jdbcType=VARCHAR}
    </if>
    <if test="column == null and (sort == null)">
      order by id DESC
    </if>
    <if test="column != null and (sort == 'ASC' or sort == 'DESC')">
      order by #{column} #{sort}
    </if>
    <if test="pageSize != null and offset != null ">
      limit #{offset},#{pageSize}
    </if>
  </select>

  <select id="queryCount" resultType="java.lang.Integer" parameterType="com.project.cpx.entity.query.OperationQuery">
    select count(1)
    from operation
    where row_status =0
    <if test="start != null" >
      and operate_date &gt;= #{start}
    </if>
    <if test="end != null" >
      and operate_date &lt;= #{end}
    </if>
    <if test="operateDate != null" >
      and operate_date = #{operateDate,jdbcType=VARCHAR}
    </if>
    <if test="productCategory != null" >
      and product_category = #{productCategory,jdbcType=VARCHAR}
    </if>
    <if test="productName != null" >
      and product_name = #{productName,jdbcType=VARCHAR}
    </if>
    <if test="belong != null" >
      and belong = #{belong,jdbcType=VARCHAR}
    </if>
    <if test="salePrice != null" >
      and sale_price = #{salePrice}
    </if>
    <if test="saleNum != null" >
      and sale_num = #{saleNum}
    </if>
    <if test="saleTotalPrice != null" >
      and sale_total_price = #{saleTotalPrice}
    </if>
    <if test="rebateNum != null" >
      and rebate_num = #{rebateNum}
    </if>
    <if test="unRebateNum != null" >
      and un_rebate_num = #{unRebateNum}
    </if>
    <if test="actualPrice != null" >
      and actual_price = #{actualPrice}
    </if>
    <if test="price != null" >
      and price = #{price}
    </if>
    <if test="constructPrice != null" >
      and construct_price = #{constructPrice}
    </if>
    <if test="constructPreson != null" >
      and construct_preson = #{constructPreson,jdbcType=VARCHAR}
    </if>
    <if test="salesCommission != null" >
      and sales_commission = #{salesCommission}
    </if>
    <if test="salesRate != null" >
      and sales_rate = #{salesRate}
    </if>
    <if test="sales != null" >
      and sales = #{sales,jdbcType=VARCHAR}
    </if>
    <if test="collectionType != null" >
      and collection_type = #{collectionType,jdbcType=VARCHAR}
    </if>
    <if test="partnerCompanyName != null" >
      and partner_company_name = #{partnerCompanyName,jdbcType=VARCHAR}
    </if>
    <if test="partnerSales != null" >
      and partner_sales = #{partnerSales,jdbcType=VARCHAR}
    </if>
    <if test="carType != null" >
      and car_type = #{carType,jdbcType=VARCHAR}
    </if>
    <if test="carFrame != null" >
      and car_frame = #{carFrame,jdbcType=VARCHAR}
    </if>
    <if test="carNo != null" >
      and car_no = #{carNo,jdbcType=VARCHAR}
    </if>
    <if test="carOwner != null" >
      and car_owner = #{carOwner,jdbcType=VARCHAR}
    </if>
    <if test="carOwnerPhone != null" >
      and car_owner_phone = #{carOwnerPhone,jdbcType=VARCHAR}
    </if>
  </select>

  <select id="queryByDate" resultMap="ProfitResultMap" parameterType="com.project.cpx.entity.query.OperationQuery">
    select operate_date,sum(actual_price) as income,sum(actual_price)-sum(price) as grossProfit,sum(actual_price)/sum(sale_num) as incomePerOrder
    from operation
    where row_status =0
    <if test="start != null" >
      and operate_date &gt;= #{start}
    </if>
    <if test="end != null" >
      and operate_date &lt;= #{end}
    </if>
    <if test="operateDate != null" >
      and operate_date = #{operateDate,jdbcType=VARCHAR}
    </if>
    <if test="productCategory != null" >
      and product_category = #{productCategory,jdbcType=VARCHAR}
    </if>
    <if test="productName != null" >
      and product_name = #{productName,jdbcType=VARCHAR}
    </if>
    <if test="belong != null" >
      and belong = #{belong,jdbcType=VARCHAR}
    </if>
    <if test="salePrice != null" >
      and sale_price = #{salePrice}
    </if>
    <if test="saleNum != null" >
      and sale_num = #{saleNum}
    </if>
    <if test="saleTotalPrice != null" >
      and sale_total_price = #{saleTotalPrice}
    </if>
    <if test="rebateNum != null" >
      and rebate_num = #{rebateNum}
    </if>
    <if test="unRebateNum != null" >
      and un_rebate_num = #{unRebateNum}
    </if>
    <if test="actualPrice != null" >
      and actual_price = #{actualPrice}
    </if>
    <if test="price != null" >
      and price = #{price}
    </if>
    <if test="constructPrice != null" >
      and construct_price = #{constructPrice}
    </if>
    <if test="constructPreson != null" >
      and construct_preson = #{constructPreson,jdbcType=VARCHAR}
    </if>
    <if test="salesCommission != null" >
      and sales_commission = #{salesCommission}
    </if>
    <if test="salesRate != null" >
      and sales_rate = #{salesRate}
    </if>
    <if test="sales != null" >
      and sales = #{sales,jdbcType=VARCHAR}
    </if>
    <if test="collectionType != null" >
      and collection_type = #{collectionType,jdbcType=VARCHAR}
    </if>
    <if test="partnerCompanyName != null" >
      and partner_company_name = #{partnerCompanyName,jdbcType=VARCHAR}
    </if>
    <if test="partnerSales != null" >
      and partner_sales = #{partnerSales,jdbcType=VARCHAR}
    </if>
    <if test="carType != null" >
      and car_type = #{carType,jdbcType=VARCHAR}
    </if>
    <if test="carFrame != null" >
      and car_frame = #{carFrame,jdbcType=VARCHAR}
    </if>
    <if test="carNo != null" >
      and car_no = #{carNo,jdbcType=VARCHAR}
    </if>
    <if test="carOwner != null" >
      and car_owner = #{carOwner,jdbcType=VARCHAR}
    </if>
    <if test="carOwnerPhone != null" >
      and car_owner_phone = #{carOwnerPhone,jdbcType=VARCHAR}
    </if>
    group by operate_date
  </select>

</mapper>